.page-wrapper{
  min-width: 100vw;
  min-height: 100vh;
  background-color: #d8caaa;
  overflow: visible;

}

.header {
  padding: 30px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-weight: 600; 
  color: white;
  font-size: 60px;
  background-color: #562310;
}

.body-wrapper {
  display: flex;
  /* flex-direction: column;
  gap: 10px; */
  /* padding-top: 40px; */
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.hidden {
  display: none;
}

#first-container {
  width: 500px;
  /* padding: 25px 0 0 100px */
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.info-header {
  display: flex;
}

.info-header > p {
  padding: 10px 0 0 0;
}

.image-container {
  padding: 0 100px;
  width: 200px;
  height: 70px;
}


.image {
  width: 100%;
  height: 100%;
}

.image-container2 {
  margin-top: -20px;
  padding: 0 100px;
  width: 200px;
  height: 100px;
}

.image2 {
  width: 100%;
  height: 100%;
}

.chocolate-box {
  padding: 40px 0;
}

.open {
  /* width: 800px; */
  margin-top: 30px;
  margin-left: 100px;
}

.default {
  display: flex;
  padding: 270px 0;
  color: #562310;
  text-align: center;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 white,
                1px -1px 0 white,
                -1px -1px 0 white;
}

.click {
  font-size: 60px;
  padding-left: 10px;
  font-weight: 600;
}

#left {
  font-size: 60px;
}